body, html{
	height: 100%;
	width: 100%;
	margin: 0;
}

/*===========Helpers==========*/
a, u{
	text-decoration: none;
}
a{
	text-decoration: none !important;
}

.pyro-back-cover{
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	background-image: url('../assets/main-gradient.png');
	opacity: .8;
	z-index:-100;
}
.pyro-nav{
	height: 80px;
	width: 100%;
	background-color: black;
	color: white;
}
.pyro-nav-container{
	width: 90%;
	margin:auto;
}
.pyro-logo-wrapper{
	float: left;
	font-size: 48px;
	margin-top: 10px;
	color:white;
}
.pyro-logo{
	color:white;
}
.pyro-nav-link-wrapper{
	float:right;
	font-size: 36px;
}
.pyro-nav-item{
	float:right;
	margin-right: 20px;
	margin-top: 20px;
}
.pyro-nav-link{
	color:white;
}

.main-container{
	height: calc(100% - 80px - 50px);
	width: 100%;
}
.pyro-view-containter{
	width: 90%; 
	margin:auto;
}

.pyro-footer{
	position:fixed; 
	bottom: 0; 
	width: 100%; 
	left:0; 
	height: 50px; 
	background-color: black; 
	color:white; 
	text-align:center;
}