body, html{
	height: 100%;
	width: 100%;
	margin:0;
}

a, u{
	text-decoration: none;
}
a{
	text-decoration: none !important;
}

.pyro-nav{
	height: 80px;
	width: 100%;
	background-color: black;
	color: white;
}
.pyro-nav-container{
	width: 970px;
	margin:auto;
}
.pyro-logo-wrapper{
	float: left;
	font-size: 48px;
	margin-top: 10px;
	color:white;
}
.pyro-logo{
	color:white;
}
.pyro-nav-link-wrapper{
	float:right;
	font-size: 36px;
}
.pyro-nav-item{
	float:right;
	margin-right: 20px;
	margin-top: 20px;
}
.pyro-nav-link{
	color:white;
}

.main-container{
	height: calc(100% - 80px - 50px);
	width: 100%;
	background-color:#95AAF2;
}

.pyro-footer{
	position:fixed; 
	bottom: 0; 
	width: 100%; 
	left:0; 
	height: 50px; 
	background-color: black; 
	color:white; 
	text-align:center;
}