/*========Theme with Comments ========
white: #ecf0f1;
black: #000;
orange: #e67e22;




==============End Comments ============*/

/*============HTML RESET =================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*============HTML RESET -END =================*/




body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #000;
	font-family: 'Open Sans Condensed', sans-serif;
}

/*===========Helpers==========*/

a, u{
	text-decoration: none;
}
a{
	text-decoration: none !important;
}
.container{
	width: 80%;
	margin: auto;
}
.image-responsive{
	width:100%;
	height: auto;
}



/*==========ODDS AND ENDS============*/
.pyro-def{
	color:#e67e22;
}
.pyro-links{
	display:inline-block;
	color:#e67e22;
	float:left;
	list-style: none;
	width:40%;
	margin:0;
	padding-left: 50px;
}
.pyro-links li{
	display:inline;
	float:left;
}
.pyro-links li i{
	display:block;
	width: 25%;
	margin: 5px 15px 0px 0px;
}

/*==========ODDS AND ENDS - END============*/

.pyro-back-cover{
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	/*background-image: url('../assets/main-gradient.png');*/
	background-color: #000;
/*	opacity: .8;*/
	z-index:-100;
}
.pyro-nav{
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	/*background-image: url('../assets/main-gradient.png');*/
	background-color: #000;
	color: #ecf0f1;
	z-index:100;
	border-bottom: solid 1px #FFF;
}
.pyro-nav-container{
	width: 80%;
	height: 100%;
	margin:auto;
}
.pyro-logo-wrapper{
	float: left;
	font-size: 48px;
	margin-top: 10px;
	color:#ecf0f1;
}
.pyro-logo{
	color:#ecf0f1;
}
.pyro-nav-link-wrapper{
	margin-top:35px;
	float:right;
	font-size: 25px;
}
.pyro-nav-link-wrapper a, .pyro-nav-link-wrapper span{
	height: 100%;
}
.pyro-nav-item{
	float:right;
	margin-right: 20px;
	height: 100%;
}
.pyro-nav-link{
	color:#ecf0f1;
}

.main-container{
	height: calc(100% - 80px);
	width: 100%;
}
.pyro-view-containter{
	/*width: 80%;*/
	width: 100%;
	height: 100%; 
	margin:auto;
	margin-top: 80px;
}

.pyro-footer{
	position:fixed;
	font-size: 40px; 
	bottom: 0; 
	width: 100%; 
	left:0; 
	height: 50px; 
	background-color: #000; 
	color:#e67e22; 
	text-align:center;
}


/*============ Home Page================*/
.pyro-title-background{
	background-image: url('../assets/thisdadisonfire.gif');
	opacity: .3;
	background-size: cover;
	position:absolute;
	top:0;
	height:100%;
	width:100%;
}
.pyro-title-block{
	color: #ecf0f1;
	text-align:center;
	height: 100%;
}
.pyro-title-block:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
.pyro-title-wrapper{
	display:inline-block;
	vertical-align:middle;
}
.pyro-title-name{
	font-size: 150px;
	margin: 50px 0px 50px 0px;
}
.pyro-title-slogan{
	font-size: 50px;
	margin-bottom: 50px;
}
.pyro-title-sub-1{
	font-size: 40px;
}
.pyro-title-sub-2{
	font-size: 30px;
}
.pyro-title-sub-3{
	font-size: 40px;
	margin-top: 20px;
}

.pyro-who-block{
	background-color: #E2E6DB;
	height: 100%;
}
.pyro-who-left-block{
	padding-top: 10%;
	width: 50%;
	height: 100%;
	float:left;
	text-align:justify;
	font-size: 24px;
}
.pyro-who-left-block p{
	padding: 0 10% 5% 10%;
}
.pyro-who-right-block{
	width: 50%;
	padding-top: 10%;
	height:100%;
	float:right;
}



/*============ABOUT Page=============*/
.p-about-wrapper{
	height: 800px;
	width: 100%;
}
.p-about-header{
	width: 90%;
	height: 400px;
	text-align:center;
}
.p-about-header-label{
	font-size: 50px;
	display: block;
	width: 100%;
	text-align: left;
	color: #ecf0f1;
	margin-top: 40px;
}
.p-about-header-text{
	font-size: 80px;
	display: block;
	margin-top: 50px;
	width: 70%;
	float: left;
	color:#ecf0f1; 
	text-align: left;
}
.p-about-header-resume{
	font-size: 40px;
	display: block;
	float: left;
	margin-top: 320px;
	width: 30%;
	color:#ecf0f1; 
}
.p-about-main-left{
	margin: 50px 0px 0px 0px;
	width:72%;
	float:left;
}
.p-about-left-text{
	color: #ecf0f1;
	font-size: 30px;
	width: 47%;
	margin: 0px 15px 15px 0px;
	text-align:center;
	float:left;
}
.p-about-main-right{
	width:27%;
	float:left;
}
.p-about-right-text{
	color: #ecf0f1;
	font-size: 30px;
	width: 100%;
	margin: 40px 0px 0px 0px;
	text-align: left;
	float: left;
	height: 100%;
}
.p-about-right-text p{
	margin: 0px 0px 10px 0px;
}


/*========= WrkFlo ============*/

.pyro-flo-block{
	height:100%;
	width: 100%;
	background-color: #FFF;
}

.pyro-flo-contents{
	padding-top: 70px;
	height: 90%;
}

.pyro-flo-row{
	width: 100%;
	height: 30%;
}
.pyro-flo-row:after{
	clear:both;
}
.pyro-flo-left-container{
	width: 50%;
	float:left;
	height: 100%;
}
.pyro-flo-right-container{
	width: 50%;
	float:right;
	height: 100%;
}
.pyro-flo-left-container img, .pyro-flo-right-container img{
	height: 100%;
	width: auto;
	padding-left: 25%;
} 


/*======== Modal ==============*/
/* Modal Base CSS */
.pyro-modal-overlay
{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;

    opacity: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: 1ms opacity ease;
       -moz-transition: 1ms opacity ease;
        -ms-transition: 1ms opacity ease;
         -o-transition: 1ms opacity ease;
            transition: 1ms opacity ease;

    background: rgba(0,0,0,.6);
}

.pyro-modal-modal
{
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;

    opacity: 0;

    width: 94%;
    height: calc(100% - 80px);
    padding: 24px 20px;

    -webkit-transition: 1ms opacity ease;
       -moz-transition: 1ms opacity ease;
        -ms-transition: 1ms opacity ease;
         -o-transition: 1ms opacity ease;
            transition: 1ms opacity ease;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    border-radius: 2px;
    background: #fff;
}
.pyro-modal-content{
	height:100%;
	width:100%;
}
.pyro-modal-modal.pyro-modal-open.pyro-modal-anchored
{
    top: 20px;

    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.pyro-modal-modal.pyro-modal-open
{
    opacity: 1;
}

.pyro-modal-overlay.pyro-modal-open
{
    opacity: 1;

}

/* Close Button */
.pyro-modal-close
{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 12px;

    width: 50%;

    position: absolute;

    bottom: 5px;
    left: 25%;

    padding: 5px 30px 5px 30px;
    margin: auto;

    cursor: pointer;

    color: #fff;
    border: 0;
    outline: none;
}

.pyro-modal-close:hover
{
    background: #c0392b;
}

/* Default Animation */

.pyro-modal-overlay.fade-and-drop
{
    display: block;

    opacity: 0;
}

.pyro-modal-modal.fade-and-drop
{
    top: -300%;

    opacity: 1;

    display: block;
}

.pyro-modal-modal.fade-and-drop.pyro-modal-open
{
    top: 50%;

    -webkit-transition: 500ms top 500ms ease;
       -moz-transition: 500ms top 500ms ease;
        -ms-transition: 500ms top 500ms ease;
         -o-transition: 500ms top 500ms ease;
            transition: 500ms top 500ms ease;
}

.pyro-modal-modal.fade-and-drop.pyro-modal-open.pyro-modal-anchored
{

    -webkit-transition: 500ms top 500ms ease;
       -moz-transition: 500ms top 500ms ease;
        -ms-transition: 500ms top 500ms ease;
         -o-transition: 500ms top 500ms ease;
            transition: 500ms top 500ms ease;
}

.pyro-modal-overlay.fade-and-drop.pyro-modal-open
{
    top: 0;

    -webkit-transition: 500ms opacity ease;
       -moz-transition: 500ms opacity ease;
        -ms-transition: 500ms opacity ease;
         -o-transition: 500ms opacity ease;
            transition: 500ms opacity ease;

    opacity: 1;
}

.pyro-modal-modal.fade-and-drop
{
    -webkit-transition: 500ms top ease;
       -moz-transition: 500ms top ease;
        -ms-transition: 500ms top ease;
         -o-transition: 500ms top ease;
            transition: 500ms top ease;
}

.pyro-modal-overlay.fade-and-drop
{
    -webkit-transition: 500ms opacity 500ms ease;
       -moz-transition: 500ms opacity 500ms ease;
        -ms-transition: 500ms opacity 500ms ease;
         -o-transition: 500ms opacity 500ms ease;
            transition: 500ms opacity 500ms ease;
}

