<div class="pyro-title-block" id="home">
	<div class="pyro-title-wrapper" >
		<!-- <h1 class="pyro-title-name">PyroDev</h1> -->
		<h1 class="pyro-title-slogan">Web Development</h1>
		<h2 class="pyro-title-slogan">Currently Building. Pardon the Smoke...</h2>
	</div>
	<div class="pyro-title-background"></div>
</div>
<div class="pyro-who-block" id="about">
	<div class="container">
		<div class="pyro-who-left-block">
			<p>
				Hello,
			</p>
			<p>
				My name is Patrick Jenkinson. I am a web developer and sometimes try my chops at designing. I have an affinity for Javascript and smooth algorithms. You ask me to build a boat? All I need to know is what language and your vision.
			</p>
			<p>
				Patrick
			</p>
		</div>
		<div class="pyro-who-right-block">
			<img class="pyro-who-image image-responsive" src="./app/assets/cute-dog.png">
		</div>
	</div>
</div>
<div class="pyro-flo-block" id="flo">
	<div class="container" style="height:100%;">
		<div class="pyro-flo-contents">
			<div class="pyro-flo-row">
				<div class="pyro-flo-left-container">
					<img class="pyro-who-image image-responsive" src="./app/assets/cute-dog.png">
				</div>
				<div class="pyro-flo-right-container">
					<p>
						Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. In maximus ligula metus pellentesque mattis.
					</p>
				</div>
			</div>
			<div class="pyro-flo-row">
				<div class="pyro-flo-left-container">
					<p>
						Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. In maximus ligula metus pellentesque mattis.
					</p>
				</div>
				<div class="pyro-flo-right-container">
					<img class="pyro-who-image image-responsive" src="./app/assets/cute-dog.png">
				</div>
			</div>
			<div class="pyro-flo-row">
				<div class="pyro-flo-left-container">
					<img class="pyro-who-image image-responsive" src="./app/assets/cute-dog.png">
				</div>
				<div class="pyro-flo-right-container">
					<p>
						Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. In maximus ligula metus pellentesque mattis.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>